@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090a0f;
    color: #f4f4f5;
  }
}

/* Custom industrial scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0e1117;
}
::-webkit-scrollbar-thumb {
  background: #283046;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c4764;
}
